body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #757171;
  border-radius: 10px;
  width: 320px;
  border: 7px solid black;
  padding: 10px;
  
}

#display {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  text-align: right;
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 7px;
  border-radius: 20px;
}

.btn {
  background-color: #1f211f;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
  /* border: 2px solid #f9f9f9; */
  border-radius: 5px;
}
.btn-fn {
  background-color: #d5d3d3;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.btn-fn:hover {
  opacity: 0.7;
}
.btn-op {
  grid-row: span 2;
  background-color:#37ab37;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-op:hover {
  opacity: 0.9;
}
.btn:hover {
  background-color: #2196f3;
}
.btn-clr {
  background-color: rgb(250, 134, 9);
  color: white;
  /* border: none; */
  border-radius: 5px;
}

.btn-clr:hover{
  opacity: 0.9;
}
.operation:hover {
  background-color: #1976d2;
}

.btn-zero {
  grid-column: span 2;
  background-color: #292b29;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.btn-zero:hover {
  background-color: #1976d2;
}

.btn-expand {
  display: grid;
  grid-column: span 2;
  padding: 10px 10px;
  background-color: #1f211f;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.btn-expand:hover {
  opacity: 0.7;
}

.trig-functions {
  display: none;
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}
